#!/bin/bash
watch_file uv.lock
if [[ ! -f .venv/bin/activate ]]; then
  uv sync --all-extras
fi
if [[ ! -f .env ]]; then
  chezmoi execute-template --output .env < .env.tmpl
fi
sed --in-place "s/include-system-site-packages = false/include-system-site-packages = true/" .venv/pyvenv.cfg
uv export --no-hashes --output-file requirements.txt --quiet
dotenv_if_exists
# shellcheck disable=SC1091
source .venv/bin/activate
