ci:
  autofix_commit_msg: |-
    ci(pre-commit): auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autoupdate_commit_msg: |-
    ci(pre-commit): pre-commit autoupdate
  skip:
    - cargo-check
    - clippy
    - fmt
    - go-build-mod
    - go-build-repo-mod
    - go-mod-tidy
    - go-mod-tidy-repo
    - go-test-mod
    - go-test-repo-mod
    - go-vet-mod
    - go-vet-repo-mod
    - latexindent
    - poetry-lock

repos:
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      - id: cmake-lint
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.12.0
    hooks:
      - id: commitizen
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: cargo-check
      - id: clippy
      - id: fmt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.5
    hooks:
      - id: clang-format
        types_or:
          - c
          - c++
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        stages:
          - pre-commit
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
        args:
          - --unsafe
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
      - id: black-jupyter
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args:
          - --profile=black
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.1
    hooks:
      - id: check-azure-pipelines
      - id: check-bamboo-spec
      - id: check-buildkite
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows
      - id: check-gitlab-ci
      - id: check-readthedocs
      - id: check-renovate
      - id: check-travis
  - repo: https://github.com/python-poetry/poetry
    rev: 1.7.0
    hooks:
      - id: poetry-check
      - id: poetry-export
        args:
          - --output=requirements.txt
          - --without-hashes
          - --without-urls
      - id: poetry-lock
        files: pyproject.toml
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.7.0-3
    hooks:
      - id: shfmt-src
        files: (\.sh|\.zsh|\.zsh-theme|envrc|zshrc)(\.tmpl)?$
        types:
          - text
        args:
          - --write
          - --simplify
          - --indent=2
          - --case-indent
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.2
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
      - id: fix-spaces
      - id: forbid-bidi-controls
      - id: macro-expand
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-build-mod
      - id: go-build-repo-mod
      - id: go-fmt
      - id: go-fmt-repo
      - id: go-mod-tidy
      - id: go-mod-tidy-repo
      - id: go-test-mod
      - id: go-test-repo-mod
      - id: go-vet-mod
      - id: go-vet-repo-mod
  - repo: local
    hooks:
      - id: latexindent
        name: Pretty LaTeX
        entry: latexindent
        language: system
        files: .(tex|sty|cls|bib)$
        types:
          - text
        args:
          - --overwriteIfDifferent
          - --silent
          - --cruft=/tmp
          - --modifylinebreaks
          - --GCString
