[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.isort]
profile = "black"

[tool.poetry]
authors = ["Qin Li <liblaf@outlook.com>"]
description = "Download everything from Web Learning of Tsinghua University"
name = "thu-learn-downloader"
packages = [{ include = "thu_learn_downloader" }]
readme = "README.md"
repository = "https://github.com/liblaf/thu-learn-downloader"
version = "0.1.6"

[tool.poetry.dependencies]
beautifulsoup4 = "^4.11.2"
hydra-core = "^1.3.1"
python = ">=3.11,<3.12"
requests = "^2.28.2"
rich = "^13.3.1"

[tool.poetry.group.dev.dependencies]
pyinstaller = "^5.8.0"

[tool.poetry.scripts]
thu-learn-downloader = "thu_learn_downloader.__main__:main"
