[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.isort]
profile = "black"

[tool.poetry]
authors = ["liblaf <i@liblaf.me>"]
description = "Download everything from Web Learning of Tsinghua University"
license = "MIT"
name = "thu-learn-downloader"
packages = [{ include = "thu_learn_downloader" }]
readme = "README.md"
repository = "https://github.com/liblaf/thu-learn-downloader"
version = "0.1.18"

[tool.poetry.dependencies]
beautifulsoup4 = "^4.12.2"
python = ">=3.11,<3.12"
requests = "^2.29.0"
rich = "^13.3.5"
typer = "^0.9.0"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
isort = "^5.12.0"
nuitka = "^1.6.1"
pyinstaller = "^5.11.0"

[tool.poetry.scripts]
thu-learn-downloader = "thu_learn_downloader.__main__:app"
tld = "thu_learn_downloader.__main__:app"
