[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.isort]
profile = "black"

[tool.poetry]
authors = ["liblaf <i@liblaf.me>"]
description = "Download everything from Web Learning of Tsinghua University"
license = "MIT"
name = "thu-learn-downloader"
packages = [{ include = "thu_learn_downloader" }]
readme = "README.md"
repository = "https://github.com/liblaf/thu-learn-downloader"
version = "0.1.11"

[tool.poetry.dependencies]
beautifulsoup4 = "^4.11.2"
python = ">=3.10,<3.12"
requests = "^2.28.2"
rich = "^12.0.0"
typer = { extras = ["all"], version = "^0.7.0" }

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
isort = "^5.12.0"
pyinstaller = "^5.8.0"

[tool.poetry.scripts]
thu-learn-downloader = "thu_learn_downloader.__main__:app"
tld = "thu_learn_downloader.__main__:app"
