annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "3.13"
beautifulsoup4==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
certifi==2023.7.22 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.3.0 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
idna==3.4 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
pydantic-core==2.10.1 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.4.2 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.16.1 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.13"
rich==13.6.0 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "3.13"
tenacity==8.2.3 ; python_version >= "3.11" and python_version < "3.13"
typer==0.9.0 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.8.0 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.0.6 ; python_version >= "3.11" and python_version < "3.13"
