name: Continuous Delivery

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.2
      - name: Setup Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --requirement requirements.txt
          pip install pyinstaller
      - name: Build
        run: |
          pyinstaller --onefile main.py --name thu-learn-downloader-${{ matrix.os }}
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: thu-learn-downloader-${{ matrix.os }}
          path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.2
      - name: Download a Build Artifact
        uses: actions/download-artifact@v3.0.0
        with:
          path: dist/
      - name: GitHub Tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ github.token }}
          default_bump: false
      - if: ${{ steps.tag_version.outputs.new_tag }}
        name: Release
        uses: softprops/action-gh-release@v0.1.14
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          files: |
            identity.yaml
            dist/**/*
